<footer id="uc-footer" class="uc-footer panel uc-dark">
    <div class="footer-outer py-4 lg:py-6 bg-white dark:bg-gray-900 text-gray-900 dark:text-white text-opacity-50">
        <div class="container max-w-xl">
            <div class="footer-inner vstack gap-6 xl:gap-8">
                <div class="uc-footer-bottom panel vstack gap-4 justify-center lg:fs-5">
                    <nav class="footer-nav">
                        <ul class="nav-x gap-2 lg:gap-4 justify-center text-center text-uppercase fw-medium">
                            {% for category in categories %}
                            {% if category.name != "वीडियो" and category.name != "फोटो गैलरी" and category.name != "हमसे संपर्क करें" and category.name != "हमारे बारे में" %}
                            <li><a class="hover:text-gray-900 dark:hover:text-white duration-150" href="{% url 'category_details' category.slug %}">{{category.name}}</a></li>
                            {% endif %}
                            {% endfor %}
                        </ul>
                    </nav>
                    <div class="footer-social hstack justify-center gap-2 lg:gap-3">
                        <ul class="nav-x gap-2">
                            {% for social in social_accounts %}
                                <li>
                                    <a class="hover:text-gray-900 dark:hover:text-white duration-150" href="{% if social.facebook %}{{social.facebook}}{% else %}javascript:void(0);{% endif %}" target="_blank"><i class="icon icon-2 unicon-logo-facebook"></i></a>
                                </li>
                                <li>
                                    <a class="hover:text-gray-900 dark:hover:text-white duration-150" href="{% if social.twitter %}{{social.twitter}}{% else %}javascript:void(0);{% endif %}" target="_blank"><i class="icon icon-2 unicon-logo-x-filled"></i></a>
                                </li>
                                <li>
                                    <a class="hover:text-gray-900 dark:hover:text-white duration-150" href="{% if social.instagram %}{{social.instagram}}{% else %}javascript:void(0);{% endif %}" target="_blank"><i class="icon icon-2 unicon-logo-instagram"></i></a>
                                </li>
                                <li>
                                    <a class="hover:text-gray-900 dark:hover:text-white duration-150" href="{% if social.youtube %}{{social.youtube}}{% else %}javascript:void(0);{% endif %}" target="_blank"><i class="icon icon-2 unicon-logo-youtube"></i></a>
                                </li>
                            {% endfor %}
                        </ul>
                        <div class="vr"></div>
                        <div class="d-inline-block">
                            <a href="index.html#" class="hstack gap-1 text-none fw-medium">
                                <i class="icon icon-1 unicon-earth-filled"></i>
                                <span>Hindi</span>
                                <span data-uc-drop-parent-icon=""></span>
                            </a>
                            <div class="p-2 bg-white dark:bg-gray-800 shadow-xs w-150px" data-uc-drop="mode: click; boundary: !.uc-footer-bottom; animation: uc-animation-slide-top-small; duration: 150;">
                                <ul class="nav-y gap-1 fw-medium items-end">
                                    <li><a href="#hi">Hindi</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="footer-copyright vstack sm:hstack justify-center items-center gap-1 lg:gap-2">
                        <p>AKP News © {% now "Y" %}, All rights reserved.</p>
                        <ul class="nav-x gap-2 fw-medium">
                            <li><a class="uc-link text-underline hover:text-gray-900 dark:hover:text-white duration-150" href="#">Privacy notice</a></li>
                            <li><a class="uc-link text-underline hover:text-gray-900 dark:hover:text-white duration-150" href="#">Terms of condition</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>