<div class="section panel overflow-hidden swiper-parent">
    <div class="section-outer panel py-4 lg:py-6 dark:text-white">
        <div class="container max-w-xl">
            <div class="section-inner panel vstack gap-2">
                <div class="block-layout carousel-layout vstack gap-2 lg:gap-3 panel">
                    <div class="block-header panel pt-1 border-top">
                        <h2 class="h6 ft-tertiary fw-bold ls-0 text-uppercase m-0 text-black dark:text-white">Hot now</h2>
                    </div>
                    <div class="block-content panel">
                        <div class="swiper" data-uc-swiper="items: 2; gap: 16; dots: .dot-nav; next: .nav-next; prev: .nav-prev; disable-class: d-none;" data-uc-swiper-s="items: 3; gap: 24;" data-uc-swiper-l="items: 5; gap: 24;">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <div>
                                        <article class="post type-post panel uc-transition-toggle vstack gap-2">
                                            <div class="post-media panel overflow-hidden">
                                                <div class="featured-image bg-gray-25 dark:bg-gray-800 ratio ratio-3x2">
                                                    <img class="media-cover image uc-transition-scale-up uc-transition-opaque" src="../assets/images/common/img-fallback.png" data-src="../assets/images/demo-seven/posts/img-09.jpg" alt="Hidden Gems: Underrated Travel Destinations Around the World" data-uc-img="loading: lazy">
                                                </div>
                                                <a href="blog-details.html" class="position-cover"></a>
                                            </div>
                                            <div class="post-header panel vstack gap-1">
                                                <h3 class="post-title h6 m-0 text-truncate-2">
                                                    <a class="text-none hover:text-primary duration-150" href="blog-details.html">Hidden Gems: Underrated Travel Destinations Around the World</a>
                                                </h3>
                                                <div class="post-meta panel hstack justify-start gap-1 fs-7 ft-tertiary fw-medium text-gray-900 dark:text-white text-opacity-60 d-none md:d-flex z-1 d-none md:d-block">
                                                    <div>
                                                        <div class="post-date hstack gap-narrow">
                                                            <span>23d</span>
                                                        </div>
                                                    </div>
                                                    <div>·</div>
                                                    <div>
                                                        <a href="index.html#post_comment" class="post-comments text-none hstack gap-narrow">
                                                            <i class="icon-narrow unicon-chat"></i>
                                                            <span>15</span>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </article>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div>
                                        <article class="post type-post panel uc-transition-toggle vstack gap-2">
                                            <div class="post-media panel overflow-hidden">
                                                <div class="featured-image bg-gray-25 dark:bg-gray-800 ratio ratio-3x2">
                                                    <img class="media-cover image uc-transition-scale-up uc-transition-opaque" src="../assets/images/common/img-fallback.png" data-src="../assets/images/demo-seven/posts/img-10.jpg" alt="Eco-Tourism: Traveling Responsibly and Sustainably" data-uc-img="loading: lazy">
                                                </div>
                                                <a href="blog-details.html" class="position-cover"></a>
                                            </div>
                                            <div class="post-header panel vstack gap-1">
                                                <h3 class="post-title h6 m-0 text-truncate-2">
                                                    <a class="text-none hover:text-primary duration-150" href="blog-details.html">Eco-Tourism: Traveling Responsibly and Sustainably</a>
                                                </h3>
                                                <div class="post-meta panel hstack justify-start gap-1 fs-7 ft-tertiary fw-medium text-gray-900 dark:text-white text-opacity-60 d-none md:d-flex z-1 d-none md:d-block">
                                                    <div>
                                                        <div class="post-date hstack gap-narrow">
                                                            <span>29d</span>
                                                        </div>
                                                    </div>
                                                    <div>·</div>
                                                    <div>
                                                        <a href="index.html#post_comment" class="post-comments text-none hstack gap-narrow">
                                                            <i class="icon-narrow unicon-chat"></i>
                                                            <span>20</span>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </article>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div>
                                        <article class="post type-post panel uc-transition-toggle vstack gap-2">
                                            <div class="post-media panel overflow-hidden">
                                                <div class="featured-image bg-gray-25 dark:bg-gray-800 ratio ratio-3x2">
                                                    <img class="media-cover image uc-transition-scale-up uc-transition-opaque" src="../assets/images/common/img-fallback.png" data-src="../assets/images/demo-seven/posts/img-11.jpg" alt="Solo Travel: Some Tips and Destinations for the Adventurous Explorer" data-uc-img="loading: lazy">
                                                </div>
                                                <a href="blog-details.html" class="position-cover"></a>
                                            </div>
                                            <div class="post-header panel vstack gap-1">
                                                <h3 class="post-title h6 m-0 text-truncate-2">
                                                    <a class="text-none hover:text-primary duration-150" href="blog-details.html">Solo Travel: Some Tips and Destinations for the Adventurous Explorer</a>
                                                </h3>
                                                <div class="post-meta panel hstack justify-start gap-1 fs-7 ft-tertiary fw-medium text-gray-900 dark:text-white text-opacity-60 d-none md:d-flex z-1 d-none md:d-block">
                                                    <div>
                                                        <div class="post-date hstack gap-narrow">
                                                            <span>2mo</span>
                                                        </div>
                                                    </div>
                                                    <div>·</div>
                                                    <div>
                                                        <a href="index.html#post_comment" class="post-comments text-none hstack gap-narrow">
                                                            <i class="icon-narrow unicon-chat"></i>
                                                            <span>5</span>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </article>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div>
                                        <article class="post type-post panel uc-transition-toggle vstack gap-2">
                                            <div class="post-media panel overflow-hidden">
                                                <div class="featured-image bg-gray-25 dark:bg-gray-800 ratio ratio-3x2">
                                                    <img class="media-cover image uc-transition-scale-up uc-transition-opaque" src="../assets/images/common/img-fallback.png" data-src="../assets/images/demo-seven/posts/img-12.jpg" alt="AI-Powered Financial Planning: How Algorithms Revolutionizing" data-uc-img="loading: lazy">
                                                </div>
                                                <a href="blog-details.html" class="position-cover"></a>
                                            </div>
                                            <div class="post-header panel vstack gap-1">
                                                <h3 class="post-title h6 m-0 text-truncate-2">
                                                    <a class="text-none hover:text-primary duration-150" href="blog-details.html">AI-Powered Financial Planning: How Algorithms Revolutionizing</a>
                                                </h3>
                                                <div class="post-meta panel hstack justify-start gap-1 fs-7 ft-tertiary fw-medium text-gray-900 dark:text-white text-opacity-60 d-none md:d-flex z-1 d-none md:d-block">
                                                    <div>
                                                        <div class="post-date hstack gap-narrow">
                                                            <span>2mo</span>
                                                        </div>
                                                    </div>
                                                    <div>·</div>
                                                    <div>
                                                        <a href="index.html#post_comment" class="post-comments text-none hstack gap-narrow">
                                                            <i class="icon-narrow unicon-chat"></i>
                                                            <span>2</span>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </article>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div>
                                        <article class="post type-post panel uc-transition-toggle vstack gap-2">
                                            <div class="post-media panel overflow-hidden">
                                                <div class="featured-image bg-gray-25 dark:bg-gray-800 ratio ratio-3x2">
                                                    <img class="media-cover image uc-transition-scale-up uc-transition-opaque" src="../assets/images/common/img-fallback.png" data-src="../assets/images/demo-seven/posts/img-13.jpg" alt="Tech Tools for your Time Management: Enhancing Productivity" data-uc-img="loading: lazy">
                                                </div>
                                                <a href="blog-details.html" class="position-cover"></a>
                                            </div>
                                            <div class="post-header panel vstack gap-1">
                                                <h3 class="post-title h6 m-0 text-truncate-2">
                                                    <a class="text-none hover:text-primary duration-150" href="blog-details.html">Tech Tools for your Time Management: Enhancing Productivity</a>
                                                </h3>
                                                <div class="post-meta panel hstack justify-start gap-1 fs-7 ft-tertiary fw-medium text-gray-900 dark:text-white text-opacity-60 d-none md:d-flex z-1 d-none md:d-block">
                                                    <div>
                                                        <div class="post-date hstack gap-narrow">
                                                            <span>3mo</span>
                                                        </div>
                                                    </div>
                                                    <div>·</div>
                                                    <div>
                                                        <a href="index.html#post_comment" class="post-comments text-none hstack gap-narrow">
                                                            <i class="icon-narrow unicon-chat"></i>
                                                            <span>19</span>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </article>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div>
                                        <article class="post type-post panel uc-transition-toggle vstack gap-2">
                                            <div class="post-media panel overflow-hidden">
                                                <div class="featured-image bg-gray-25 dark:bg-gray-800 ratio ratio-3x2">
                                                    <img class="media-cover image uc-transition-scale-up uc-transition-opaque" src="../assets/images/common/img-fallback.png" data-src="../assets/images/demo-seven/posts/img-14.jpg" alt="A Guide to The Rise of Gourmet Street Food: Trends and Top Picks" data-uc-img="loading: lazy">
                                                </div>
                                                <a href="blog-details.html" class="position-cover"></a>
                                            </div>
                                            <div class="post-header panel vstack gap-1">
                                                <h3 class="post-title h6 m-0 text-truncate-2">
                                                    <a class="text-none hover:text-primary duration-150" href="blog-details.html">A Guide to The Rise of Gourmet Street Food: Trends and Top Picks</a>
                                                </h3>
                                                <div class="post-meta panel hstack justify-start gap-1 fs-7 ft-tertiary fw-medium text-gray-900 dark:text-white text-opacity-60 d-none md:d-flex z-1 d-none md:d-block">
                                                    <div>
                                                        <div class="post-date hstack gap-narrow">
                                                            <span>6mo</span>
                                                        </div>
                                                    </div>
                                                    <div>·</div>
                                                    <div>
                                                        <a href="index.html#post_comment" class="post-comments text-none hstack gap-narrow">
                                                            <i class="icon-narrow unicon-chat"></i>
                                                            <span>2</span>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </article>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div>
                                        <article class="post type-post panel uc-transition-toggle vstack gap-2">
                                            <div class="post-media panel overflow-hidden">
                                                <div class="featured-image bg-gray-25 dark:bg-gray-800 ratio ratio-3x2">
                                                    <img class="media-cover image uc-transition-scale-up uc-transition-opaque" src="../assets/images/common/img-fallback.png" data-src="../assets/images/demo-seven/posts/img-15.jpg" alt="Gaming in the Age of AI: Strategies for Startups" data-uc-img="loading: lazy">
                                                </div>
                                                <a href="blog-details.html" class="position-cover"></a>
                                            </div>
                                            <div class="post-header panel vstack gap-1">
                                                <h3 class="post-title h6 m-0 text-truncate-2">
                                                    <a class="text-none hover:text-primary duration-150" href="blog-details.html">Gaming in the Age of AI: Strategies for Startups</a>
                                                </h3>
                                                <div class="post-meta panel hstack justify-start gap-1 fs-7 ft-tertiary fw-medium text-gray-900 dark:text-white text-opacity-60 d-none md:d-flex z-1 d-none md:d-block">
                                                    <div>
                                                        <div class="post-date hstack gap-narrow">
                                                            <span>9mo</span>
                                                        </div>
                                                    </div>
                                                    <div>·</div>
                                                    <div>
                                                        <a href="index.html#post_comment" class="post-comments text-none hstack gap-narrow">
                                                            <i class="icon-narrow unicon-chat"></i>
                                                            <span>19</span>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </article>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div>
                                        <article class="post type-post panel uc-transition-toggle vstack gap-2">
                                            <div class="post-media panel overflow-hidden">
                                                <div class="featured-image bg-gray-25 dark:bg-gray-800 ratio ratio-3x2">
                                                    <img class="media-cover image uc-transition-scale-up uc-transition-opaque" src="../assets/images/common/img-fallback.png" data-src="../assets/images/demo-seven/posts/img-16.jpg" alt="Top Independent Contractors to Invest in Best of Startups" data-uc-img="loading: lazy">
                                                </div>
                                                <a href="blog-details.html" class="position-cover"></a>
                                            </div>
                                            <div class="post-header panel vstack gap-1">
                                                <h3 class="post-title h6 m-0 text-truncate-2">
                                                    <a class="text-none hover:text-primary duration-150" href="blog-details.html">Top Independent Contractors to Invest in Best of Startups</a>
                                                </h3>
                                                <div class="post-meta panel hstack justify-start gap-1 fs-7 ft-tertiary fw-medium text-gray-900 dark:text-white text-opacity-60 d-none md:d-flex z-1 d-none md:d-block">
                                                    <div>
                                                        <div class="post-date hstack gap-narrow">
                                                            <span>1yr</span>
                                                        </div>
                                                    </div>
                                                    <div>·</div>
                                                    <div>
                                                        <a href="index.html#post_comment" class="post-comments text-none hstack gap-narrow">
                                                            <i class="icon-narrow unicon-chat"></i>
                                                            <span>12</span>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </article>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-nav nav-prev position-absolute top-50 start-0 translate-middle btn btn-alt-primary text-black rounded-circle p-0 border shadow-xs w-32px lg:w-40px h-32px lg:h-40px z-1">
                            <i class="icon-1 unicon-chevron-left"></i>
                        </div>
                        <div class="swiper-nav nav-next position-absolute top-50 start-100 translate-middle btn btn-alt-primary text-black rounded-circle p-0 border shadow-xs w-32px lg:w-40px h-32px lg:h-40px z-1">
                            <i class="icon-1 unicon-chevron-right"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>