<div class="section panel overflow-hidden">
    <div class="section-outer panel py-4 lg:py-6 dark:text-white">
        <div class="container max-w-xl">
            <div class="section-inner">
                <div class="row child-cols-12 lg:child-cols g-4 lg:g-6 col-match" data-uc-grid>
                    <div class="lg:col-4">
                        <div class="block-layout list-layout vstack gap-2 lg:gap-3 panel overflow-hidden">
                            <div class="block-header panel pt-1 border-top">
                                <h2 class="h6 ft-tertiary fw-bold ls-0 text-uppercase m-0 text-black dark:text-white">
                                    <a class="hstack d-inline-flex gap-0 text-none hover:text-primary duration-150" href="javascript:void(0);">
                                        <span>तकनीक</span>
                                        <i class="icon-1 fw-bold unicon-chevron-right"></i>
                                    </a>
                                </h2>
                            </div>
                            <div class="block-content">
                                <div class="row child-cols-12 g-2 lg:g-4 sep-x" data-uc-grid>
                                    {% for article in articles|slice:":1" %}
                                    {% if article.category.name == "तकनीक" %}
                                    {% if article.is_featured == True %}
                                    <div>
                                        <article class="post type-post panel uc-transition-toggle vstack gap-2 lg:gap-3 overflow-hidden uc-dark">
                                            <div class="post-media panel overflow-hidden">
                                                <div class="featured-image bg-gray-25 dark:bg-gray-800 ratio ratio-4x3">
                                                    <img class="media-cover image uc-transition-scale-up uc-transition-opaque" src="{{article.featured_image.url}}" data-src="{{article.featured_image.url}}" alt="{{article.title}}" data-uc-img="loading: lazy">
                                                </div>
                                            </div>
                                            <div class="position-cover bg-gradient-to-t from-black to-transparent opacity-90"></div>
                                            <div class="post-header panel vstack justify-start items-start flex-column-reverse gap-1 p-2 position-cover text-white">
                                                <div class="post-meta panel hstack justify-between fs-7 text-white text-opacity-60 mt-1">
                                                    <div class="meta">
                                                        <div class="hstack gap-2">
                                                            <div>
                                                                <div class="post-author hstack gap-1">
                                                                    <a href="javascript:void(0);" data-uc-tooltip="David Peterson"><img src="{{article.author.profile_image.url}}" alt="{{article.author.username}}" class="w-24px h-24px rounded-circle"></a>
                                                                    <a href="javascript:void(0);" class="text-black dark:text-white text-none fw-bold">{{article.author.get_full_name}}</a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="actions">
                                                        <div class="hstack gap-1"></div>
                                                    </div>
                                                </div>
                                                <h3 class="post-title h6 lg:h5 m-0 m-0 max-w-600px text-white text-truncate-2">
                                                    <a class="text-none text-white" href="{% url 'news_details' article.slug %}">{{article.title}}</a>
                                                </h3>
                                                <div class="post-date hstack gap-narrow fs-7 text-gray-900 dark:text-white text-opacity-60 d-none md:d-flex">
                                                    <span>{{article.time_since_published}}</span>
                                                </div>
                                            </div>
                                            <a href="#" class="position-cover"></a>
                                        </article>
                                    </div>
                                    {% endif %}
                                    {% else %}<div>No News</div>
                                    {% endif %}
                                    {% endfor %}
                                    {% for article in articles|slice:"1:3" %}
                                    {% if article.category.name == "तकनीक" %}
                                    <div>
                                        <article class="post type-post panel uc-transition-toggle">
                                            <div class="row child-cols g-2 lg:g-3" data-uc-grid>
                                                <div>
                                                    <div class="post-header panel vstack justify-between gap-1">
                                                        <h3 class="post-title h6 m-0 text-truncate-2">
                                                            <a class="text-none hover:text-primary duration-150" href="{% url 'news_details' article.slug %}">{{article.title}}</a>
                                                        </h3>
                                                        <div class="post-date hstack gap-narrow fs-7 text-gray-900 dark:text-white text-opacity-60 d-none md:d-flex">
                                                            <span>{{article.time_since_published}}</span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-auto">
                                                    <div class="post-media panel overflow-hidden max-w-72px min-w-72px">
                                                        <div class="featured-image bg-gray-25 dark:bg-gray-800 ratio ratio-1x1">
                                                            <img class="media-cover image uc-transition-scale-up uc-transition-opaque" src="{{article.featured_image.url}}" data-src="{{article.featured_image.url}}" alt="{{article.title}}" data-uc-img="loading: lazy">
                                                        </div>
                                                        <a href="{% url 'news_details' article.slug %}" class="position-cover"></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </article>
                                    </div>
                                    {% endif %}
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="lg:col-4">
                        <div class="block-layout list-layout vstack gap-2 lg:gap-3 panel overflow-hidden">
                            <div class="block-header panel pt-1 border-top">
                                <h2 class="h6 ft-tertiary fw-bold ls-0 text-uppercase m-0 text-black dark:text-white">
                                    <a class="hstack d-inline-flex gap-0 text-none hover:text-primary duration-150" href="javascript:void(0);">
                                        <span>व्यापार</span>
                                        <i class="icon-1 fw-bold unicon-chevron-right"></i>
                                    </a>
                                </h2>
                            </div>
                            <div class="block-content">
                                <div class="row child-cols-12 g-2 lg:g-4 sep-x" data-uc-grid>
                                    {% for article in articles|slice:":1" %}
                                    {% if article.category.name == "व्यापार" %}
                                    {% if article.is_featured == True %}
                                    <div>
                                        <article class="post type-post panel uc-transition-toggle vstack gap-2 lg:gap-3 overflow-hidden uc-dark">
                                            <div class="post-media panel overflow-hidden">
                                                <div class="featured-image bg-gray-25 dark:bg-gray-800 ratio ratio-4x3">
                                                    <img class="media-cover image uc-transition-scale-up uc-transition-opaque" src="{{article.featured_image.url}}" data-src="{{article.featured_image.url}}" alt="{{article.title}}" data-uc-img="loading: lazy">
                                                </div>
                                            </div>
                                            <div class="position-cover bg-gradient-to-t from-black to-transparent opacity-90"></div>
                                            <div class="post-header panel vstack justify-start items-start flex-column-reverse gap-1 p-2 position-cover text-white">
                                                <div class="post-meta panel hstack justify-between fs-7 text-white text-opacity-60 mt-1">
                                                    <div class="meta">
                                                        <div class="hstack gap-2">
                                                            <div>
                                                                <div class="post-author hstack gap-1">
                                                                    <a href="javascript:void(0);" data-uc-tooltip="David Peterson"><img src="{{article.author.profile_image.url}}" alt="{{article.author.username}}" class="w-24px h-24px rounded-circle"></a>
                                                                    <a href="javascript:void(0);" class="text-black dark:text-white text-none fw-bold">{{article.author.get_full_name}}</a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="actions">
                                                        <div class="hstack gap-1"></div>
                                                    </div>
                                                </div>
                                                <h3 class="post-title h6 lg:h5 m-0 m-0 max-w-600px text-white text-truncate-2">
                                                    <a class="text-none text-white" href="{% url 'news_details' article.slug %}">{{article.title}}</a>
                                                </h3>
                                                <div class="post-date hstack gap-narrow fs-7 text-gray-900 dark:text-white text-opacity-60 d-none md:d-flex">
                                                    <span>{{article.time_since_published}}</span>
                                                </div>
                                            </div>
                                            <a href="{% url 'news_details' article.slug %}" class="position-cover"></a>
                                        </article>
                                    </div>
                                    {% endif %}
                                    {% else %}<div>No News</div>
                                    {% endif %}
                                    {% endfor %}
                                    {% for article in articles|slice:"1:3" %}
                                    {% if article.category.name == "व्यापार" %}
                                    <div>
                                        <article class="post type-post panel uc-transition-toggle">
                                            <div class="row child-cols g-2 lg:g-3" data-uc-grid>
                                                <div>
                                                    <div class="post-header panel vstack justify-between gap-1">
                                                        <h3 class="post-title h6 m-0 text-truncate-2">
                                                            <a class="text-none hover:text-primary duration-150" href="{% url 'news_details' article.slug %}">{{article.title}}</a>
                                                        </h3>
                                                        <div class="post-date hstack gap-narrow fs-7 text-gray-900 dark:text-white text-opacity-60 d-none md:d-flex">
                                                            <span>{{article.time_since_published}}</span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-auto">
                                                    <div class="post-media panel overflow-hidden max-w-72px min-w-72px">
                                                        <div class="featured-image bg-gray-25 dark:bg-gray-800 ratio ratio-1x1">
                                                            <img class="media-cover image uc-transition-scale-up uc-transition-opaque" src="{{article.featured_image.url}}" data-src="{{article.featured_image.url}}" alt="{{article.title}}" data-uc-img="loading: lazy">
                                                        </div>
                                                        <a href="{% url 'news_details' article.slug %}" class="position-cover"></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </article>
                                    </div>
                                    {% endif %}
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="lg:col-4">
                        <div class="block-layout list-layout vstack gap-2 lg:gap-3 panel overflow-hidden">
                            <div class="block-header panel pt-1 border-top">
                                <h2 class="h6 ft-tertiary fw-bold ls-0 text-uppercase m-0 text-black dark:text-white">
                                    <a class="hstack d-inline-flex gap-0 text-none hover:text-primary duration-150" href="javascript:void(0);">
                                        <span>मनोरंजन</span>
                                        <i class="icon-1 fw-bold unicon-chevron-right"></i>
                                    </a>
                                </h2>
                            </div>
                            <div class="block-content">
                                <div class="row child-cols-12 g-2 lg:g-4 sep-x" data-uc-grid>
                                    {% for article in articles|slice:":1" %}
                                    {% if article.category.name == "मनोरंजन" %}
                                    {% if article.is_featured == True %}
                                    <div>
                                        <article class="post type-post panel uc-transition-toggle vstack gap-2 lg:gap-3 overflow-hidden uc-dark">
                                            <div class="post-media panel overflow-hidden">
                                                <div class="featured-image bg-gray-25 dark:bg-gray-800 ratio ratio-4x3">
                                                    <img class="media-cover image uc-transition-scale-up uc-transition-opaque" src="{{article.featured_image.url}}" data-src="{{article.featured_image.url}}" alt="{{article.title}}" data-uc-img="loading: lazy">
                                                </div>
                                            </div>
                                            <div class="position-cover bg-gradient-to-t from-black to-transparent opacity-90"></div>
                                            <div class="post-header panel vstack justify-start items-start flex-column-reverse gap-1 p-2 position-cover text-white">
                                                <div class="post-meta panel hstack justify-between fs-7 text-white text-opacity-60 mt-1">
                                                    <div class="meta">
                                                        <div class="hstack gap-2">
                                                            <div>
                                                                <div class="post-author hstack gap-1">
                                                                    <a href="javascript:void(0);" data-uc-tooltip="David Peterson"><img src="{{article.author.profile_image.url}}" alt="{{article.author.username}}" class="w-24px h-24px rounded-circle"></a>
                                                                    <a href="javascript:void(0);" class="text-black dark:text-white text-none fw-bold">{{article.author.get_full_name}}</a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="actions">
                                                        <div class="hstack gap-1"></div>
                                                    </div>
                                                </div>
                                                <h3 class="post-title h6 lg:h5 m-0 m-0 max-w-600px text-white text-truncate-2">
                                                    <a class="text-none text-white" href="{% url 'news_details' article.slug %}">{{article.title}}</a>
                                                </h3>
                                                <div class="post-date hstack gap-narrow fs-7 text-gray-900 dark:text-white text-opacity-60 d-none md:d-flex">
                                                    <span>{{article.time_since_published}}</span>
                                                </div>
                                            </div>
                                            <a href="{% url 'news_details' article.slug %}" class="position-cover"></a>
                                        </article>
                                    </div>
                                    {% endif %}
                                    {% else %}<div>No News</div>
                                    {% endif %}
                                    {% endfor %}
                                    {% for article in articles|slice:"1:3" %}
                                    {% if article.category.name == "मनोरंजन" %}
                                    <div>
                                        <article class="post type-post panel uc-transition-toggle">
                                            <div class="row child-cols g-2 lg:g-3" data-uc-grid>
                                                <div>
                                                    <div class="post-header panel vstack justify-between gap-1">
                                                        <h3 class="post-title h6 m-0 text-truncate-2">
                                                            <a class="text-none hover:text-primary duration-150" href="{% url 'news_details' article.slug %}">{{article.title}}</a>
                                                        </h3>
                                                        <div class="post-date hstack gap-narrow fs-7 text-gray-900 dark:text-white text-opacity-60 d-none md:d-flex">
                                                            <span>{{article.time_since_published}}</span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-auto">
                                                    <div class="post-media panel overflow-hidden max-w-72px min-w-72px">
                                                        <div class="featured-image bg-gray-25 dark:bg-gray-800 ratio ratio-1x1">
                                                            <img class="media-cover image uc-transition-scale-up uc-transition-opaque" src="{{article.featured_image.url}}" data-src="{{article.featured_image.url}}" alt="{{article.title}}" data-uc-img="loading: lazy">
                                                        </div>
                                                        <a href="{% url 'news_details' article.slug %}" class="position-cover"></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </article>
                                    </div>
                                    {% endif %}
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>