<div class="section panel overflow-hidden swiper-parent border-top">
    <div class="section-outer panel py-2 lg:py-4 dark:text-white">
        <div class="container max-w-xl">
            <div class="section-inner panel vstack gap-2">
                <div class="h6 ft-tertiary fw-bold ls-0 text-uppercase m-0 text-black dark:text-white" style="color: #000000;">
                    <i class="bi bi-images"></i> <span>विजुअल स्टोरीज़</span>
                </div>
                <div class="block-layout carousel-layout vstack gap-2 lg:gap-3 panel">
                    <div class="block-content panel">
                        <div class="swiper" data-uc-swiper="items: 3; gap: 10; dots: .dot-nav; next: .nav-next; prev: .nav-prev; disable-class: d-none;" data-uc-swiper-s="items: 3; gap: 10;" data-uc-swiper-l="items: 6; gap: 10;">
                            <div class="swiper-wrapper">
                                {% for story in stories %}
                                <div class="swiper-slide" style="padding: 5px 8px; border-radius: 5px; text-align: left;">
                                    <div>
                                        <article class="post type-post panel uc-transition-toggle gap-2">
                                            <div class="row child-cols g-2" data-uc-grid>
                                                <div>
                                                    <style>
                                                        .post-title-web-story {
                                                            font-size: 14px; 
                                                            border: 1px solid #d4cece; 
                                                            padding: 0 0 20px 0; 
                                                            border-radius:10px;
                                                        }

                                                        @media (max-width: 768px) {
                                                            .post-title-web-story {
                                                                padding: 0 0 32px 0;
                                                            }
                                                        }
                                                    </style>
                                                    <div class="post-header panel vstack justify-between gap-1">
                                                        <h3 class="post-title post-title-web-story m-0 text-truncate-2">
                                                            <a class="text-none hover:text-primary duration-150" href="{% url 'story_detail' story.slug %}">
                                                            <img src="{{story.cover_image.url}}" style="width:100%;"/>    
                                                            <p class="p-1 text-black dark:text-white">{{story.title|truncatewords:8}}</p>
                                                            </a>
                                                        </h3>
                                                    </div>
                                                </div>
                                            </div>
                                        </article>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="swiper-nav nav-prev position-absolute top-50 start-0 translate-middle btn btn-alt-primary text-black rounded-circle p-0 border shadow-xs w-32px h-32px z-1">
                            <i class="bi bi-chevron-left"></i>
                        </div>
                        <div class="swiper-nav nav-next position-absolute top-50 start-100 translate-middle btn btn-alt-primary text-black rounded-circle p-0 border shadow-xs w-32px h-32px z-1">
                            <i class="bi bi-chevron-right"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>