<div id="uc-cart-panel" data-uc-offcanvas="overlay: true; flip: true;">
    <div class="uc-offcanvas-bar bg-white text-dark dark:bg-gray-900 dark:text-white">
        <button class="uc-offcanvas-close top-0 ltr:end-0 rtl:start-0 rtl:end-auto m-2 p-0 border-0 icon-2 lg:icon-3 btn btn-md dark:text-white transition-transform duration-150 hover:rotate-90" type="button">
            <i class="unicon-close"></i>
        </button>

        <div class="mini-cart-content vstack justify-between panel h-100">
            <div class="mini-cart-header">
                <h3 class="title h5 m-0 text-dark dark:text-white">{{request.user.get_full_name}}</h3>
            </div>
            <div class="mini-cart-listing panel flex-1 my-4 overflow-scroll">
                <div class="panel vstack gap-3">
                    {% comment %} <div>
                        <article class="product type-product panel">
                            <div class="hstack gap-2">
                                <figure class="featured-image m-0 ratio ratio-1x1 w-80px uc-transition-toggle overflow-hidden bg-gray-25 dark:bg-gray-800">
                                    <img class="media-cover image uc-transition-scale-up uc-transition-opaque uc-transition-scale-up uc-transition-opaque" src="../assets/images/common/img-fallback.png" data-src="../assets/images/common/products/img-07.jpg" alt="Laptop Cover" data-uc-img="loading: lazy">
                                    <a href="shop-product-detail.html" class="position-cover" data-caption="Laptop Cover"></a>
                                </figure>
                                <div class="content vstack gap-narrow fs-6">
                                    <h5 class="h6 m-0"><a class="text-none text-dark dark:text-white" href="shop-product-detail.html">Laptop Cover</a></h5>
                                    <div class="hstack gap-narrow fs-7 opacity-50 text-dark dark:text-white"><span class="qty">1</span> x <span class="price">$24.00</span></div>
                                    <a href="index.html#remove_from_cart" class="remove fs-7 text-dark dark:text-white">Remove</a>
                                </div>
                                <a href="index.html#remove_from_cart" class="remove position-absolute top-0 end-0 btn p-0 hover:text-danger" hidden>
                                    <i class="unicon-close icon-1"></i>
                                </a>
                            </div>
                        </article>
                    </div> {% endcomment %}
                </div>
            </div>
            <div class="mini-cart-footer panel pt-3 border-top">
                <div class="panel vstack gap-3 justify-between">
                    {% comment %} <div class="mini-cart-total hstack justify-between">
                        <h5 class="h5 m-0 text-dark dark:text-white">Subtotal</h5>
                        <b class="fs-5">$97.00</b>
                    </div> {% endcomment %}
                    <div class="mini-cart-actions vstack gap-1">
                        <a href="#logout-user" id="logoutUser" class="btn btn-md btn-primary text-white">Logout</a>
                        <form id="logoutUserForm" style="display: none;">
                            {% csrf_token %}
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>