<!DOCTYPE html>
<html lang="zxx">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>404 page | AKP News</title>
        <meta name="description" content="News5 a clean, modern and pixel-perfect multipurpose blogging HTML5 website template.">
        <meta name="theme-color" content="#2757fd">

        <link rel="shortcut icon" href="/media/images/logo/akp_logo_new.jpg" type="image/x-icon">

        <link rel="canonical" href="/">

        <!-- include main style -->
        <link rel="stylesheet" href="/media/css/theme/demo-seven.min.css">

    </head>
    <body class="uni-body panel bg-white text-gray-900 dark:bg-black dark:text-gray-200 overflow-x-hidden">

        <!-- Wrapper start -->
        <div id="wrapper" class="wrap overflow-x-hidden">
            <div class="section py-6 lg:py-8 xl:py-10">
                <div class="container max-w-xl">
                    <div class="panel vstack justify-center items-center gap-2 sm:gap-4 text-center">
                        <h2 class="display-5 sm:display-3 lg:display-2 xl:display-1 text-primary">404</h2>
                        <h1 class="h3 sm:h1 m-0">Page not found</h1>
                        <p class="fs-6 md:fs-5">
                            Sorry, the page you seems looking for, <br>
                            has been moved, redirected or removed permanently.
                        </p>
                        <a href="/" class="animate-btn btn btn-md btn-primary text-none gap-0">
                            <span>Go back home</span>
                            <i class="icon icon-narrow unicon-arrow-left fw-bold"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>

    </body>
</html>
