{% for ad in random_ads|slice:":1" %}
{% if ad.banner_size == 'Home Banner 2496x300' %}
<div class="section panel overflow-hidden py-5 lg:py-8">
    <div class="section-outer panel">
        <div class="container max-w-xl">
            <div class="section-inner">
                <a class="text-none" href="{{ad.banner_link}}" target="_blank" rel="nofollow">
                    <img class="d-none md:d-block" src="{{ad.banner_image.url}}" alt="{{ad.banner_title}}">
                    <img class="d-block md:d-none" src="{{ad.banner_image.url}}" alt="{{ad.banner_title}}">
                </a>
            </div>
        </div>
    </div>
</div>
{% endif %}
{% endfor %}